<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chronos.monicov">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoniCov">
        <activity
            android:name=".patientStatusQuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".patientStatusActivity"
            android:exported="false" />
        <activity
            android:name=".patientsPrescriptionsAcitivty"
            android:exported="false" />
        <activity
            android:name=".patientMedicalProfessionalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".patientSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".patientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterIfPatientActivity"
            android:exported="false" />
        <activity
            android:name=".medicalProfessionalHomeActivity"
            android:exported="false" />
        <activity
            android:name=".patientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>